.card-container{
    width:30rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 1rem;
    
}
.Conhecimentos{
    color:white;
    background-color:var(--bg-black);
}
.Conhecimentos img{
    width:100%;
    height:10rem;
}
.HTML{ grid-area: 1 / 1 / 2 / 2; }
.CSS { grid-area: 1 / 2 / 2 / 3; }
.JAVASCRIPT { grid-area: 1 / 3 / 2 / 4; }
.GIT { grid-area: 2 / 1 / 3 / 2; }
.REACT { grid-area: 2 / 2 / 3 / 3; }
.REDUX { grid-area: 2 / 3 / 3 / 4; }
.NODE { grid-area: 3 / 1 / 4 / 2; }
.PHOTOSHOP { grid-area: 3 / 2 / 4 / 3; }
.CORELDRAW { grid-area: 3 / 3 / 4 / 4; }

.Conhecimentos h2{
    width:80vw;
    margin: auto;
    padding: 1rem 0;
    text-align: center;
}

hr{
    height: 1px;
    margin: auto;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.007);
}