
#Apresentation{
    height: calc(100vh - 3rem) ;
    width: 100vw;
    background-size: cover;
    background: var(--bg-black); 
    
}

.Container{
    margin: auto;
    height: calc(100vh - 3rem) ;
    width:90vw;
    position: relative;
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}

.Container .description-card{
    background:var(--white-bg);
    height:20rem;
    width:50rem;
    position: relative;
    left:-11vh;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-bottom:.5rem solid var(--purple);
    border-right:.5rem solid var(--purple);
    display:flex;
    justify-content: flex-end;
    align-items: center;
    animation: reveal 1s ease-in-out;
}

.Container .description-card .text-description{
    width:80%;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
}

.Container .description-card .text-description h1{
    margin:0 0 1rem 0;
}

.Container .img-pc{
    display: flex;
    align-items: center;
    height: 100%;
    animation: moving-infinite 3s ease-in infinite;
    animation-direction: alternate;
    position: relative;
} 

.Container .img-pc img{
    height: 80%;
}



@keyframes moving-infinite{
    0%{
        transform:translateY(0px);
    }
    100%{
        transform:translateY(10px);
    }
}

@keyframes reveal {
    0%{
        left: -100vh
    }
    100%{
        left: -11vh
    }
}
