header{
    width: 100vw;
    display: flex;
    align-items: center;
    background: var(--bg-black);
    height:3rem;
    
}

.headerContainer{
    justify-content: space-between;
    display: flex;
    width: 90vw;
    height:100%;
    margin: auto;
    align-items: center;
  
}
#logo {
    width: 5rem;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
ul .link{
    color: white;
    text-decoration:none;
}

li{
    margin:0 .5rem
}

li:first-child{
    margin: 0;
}

li:last-child{
    margin: 0;
}


#contact{
    border:1px solid var(--white-bg);
    font-weight:700;
    border-radius:.6rem;
    border: 0;
    background:var(--green-light);
    padding:.5rem;
}

#contact:hover{
    background:#88FC88;
}