#projects-container{
  width: 100vw;
  height: calc(100vh - 3rem) ;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
  position: relative;
  background-color:var(--purple);
  background-image:
  radial-gradient(at 14% 86%, hsla(120,92%,74%,1) 0px, transparent 50%),
  radial-gradient(at 52% 96%, hsla(120,92%,74%,1) 0px, transparent 50%),
  radial-gradient(at 85% 87%, hsla(120,92%,74%,1) 0px, transparent 50%);
  gap:12px;
  overflow-x: hidden;

}
.carousel-content{
  
  position: relative;
}
#projects-container .carousel-Arrow{
  position: relative;
  top: calc(50% - 2.5rem);
  margin: auto;
  width:70vw;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

#projects-container .carousel-Arrow svg{
  color: white;
}

.project-content{
  scroll-behavior: smooth;
  margin:auto;
  width: 60vw;
  display: flex;
  position: relative;
  overflow-x:scroll;
}


.card {
  color: white;
  background-color:black;
  display: flex;
  border-radius:2rem;
  width:60vw;
  margin: 0 0 1rem 0;
  position: relative;
  

}

.card:first-child{
   margin-left: 0;
     /* color: var(--bg-black); */
}

.card:last-child{
  margin-right: 0;
}

.hr{
  height:12vh;
  width:0.1rem;
  margin:0 auto;
  background: var(--green-light);
  background: linear-gradient(180deg, var(--green-light) 0%, rgba(7,3,33,0) 100%);
  position:relative;
  top:1rem;
}

.card .description{
  font-size: 1.5rem;
  padding:1.2rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width:100;
  height:calc(100% - 1.7rem);
  margin: auto;
  position: absolute;
}
.card img {
  opacity:0.3;
  overflow-y: hidden;
  width:80rem;
  border-radius:2rem;
  position: relative;
}



.card span{
      
    font-weight: 700;
}

.card .description p{
  text-align: left;
  padding-top:.2rem;
  margin:.4rem 0 .4rem 0;
  font-weight:400;
  width:70%;
  overflow-y: auto;
}
.MuiButton-root{
  color: white;
}



.card a{
  text-decoration:none;
  width:16%;
}
.card a:hover{
  border-radius: 3px;
  background-color: var(--green-light);
  transition: 1s linear;
  
}

.card .description button{
  width:100%;
  border: 1px solid white;
}

.card .description button svg{
  color: white;
}

#projects-container .title-projects{
  padding:1rem 0;
  
  color:black;
  background-color: var(--green-light);
  text-align:center;
}

#projects-container h2{

}

  .project-content::-webkit-scrollbar {
    width: 4px;
    height:3px;
  }
  .project-content::-webkit-scrollbar-track {
    background: #0015336b;
  }
  .project-content::-webkit-scrollbar-thumb {
    background-color: #0b2430;
    border-radius:4rem;
    border: 0px dashed #9e8c8c0c;
  }