*, body{
  --bg-black: #414141;
  --purple: #6a50ff;
  --white-bg: #e6e6e6;
  --green-light: #82fa82;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:1rem;
  font-family: 'Josefin Sans', sans-serif;
}

section{
  height:100vh;
}

main{
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x:hidden;
  height:calc(100vh - 3rem);
  
}

*::-webkit-scrollbar {
  width: 4px;
  height:3px;
}
*::-webkit-scrollbar-track {
  background: #15171b6b;
}
*::-webkit-scrollbar-thumb {
  background-color: #82838370;
  border-radius:4rem;
  border: 0px dashed #9e8c8c0c;
}

@media(max-width:1024px) {
  html{
    font-size:.8rem;
  }
  #Apresentation .Container img{
    height:65%;
  }
  #projects-container .title-projects h2{
    font-size:1.5rem;
  }

  .project-content .card .description .title{
    font-size:1.5rem;
  }
  .project-content .card .description p{
    font-size:1.5rem;
  }
}

@media(max-width:768px){
  html{
    font-size:.75rem;
  }
 
  #Apresentation .Container .img-pc {
    height:60%;
  }
  #Conhecimentos {
    flex-direction:column-reverse;
    align-items: center;
    justify-content:flex-end;
    gap:2rem;
  }
  #Conhecimentos .descricao{
    width:90vw;
    margin:0;
  }
  
  #Conhecimentos .card-container{
    display:flex;
    scroll-behavior: smooth;
    width:90vw;
    overflow-x:scroll;
    margin:3rem auto 0 auto;
    flex-direction:row;
    position: relative;
    gap:1rem;
    height:10rem;
    padding-bottom:.5rem;
  }
  .Conhecimentos .card-container img{
    height:95%;
}
.carousel-content div.carousel-Arrow svg{
  display:none;
}
}

@media(max-width:500px) {
  html{
    overflow-x:hidden;

    font-size:.7rem;
  }
  #Apresentation .Container{
    flex-direction:column;
    justify-content:center;
  }
  #Apresentation .Container .description-card{
    left:0;
    top:1rem;
    width:90vw;
    border-radius:1rem;
    animation: revealMobile 2s linear;
  }
  #Apresentation .Container .img-pc{  
    height:40%;
  }
  section#projects-container {
    justify-content: center;
  }
  #projects-container .carousel-content {
    width:100%;
    overflow-y: hidden;
   
  }
 .card-container div .badges{
    height:100%;
    width:auto;
  }

  #projects-container .carousel-content .project-content{
    flex-direction:column;
    width:80vw;
    height:85vh;
   padding:.5rem;
    overflow-x:hidden;
  }

  #projects-container .carousel-content .project-content .card{
    width:100%;
  }  
  #projects-container .carousel-content .project-content .card a{
    width:6rem;
    height:2rem;
  }
  #projects-container .carousel-content .project-content .card a button{
    width:100%;
    font-size:.8rem;
    height:2rem;
  }
  #projects-container .carousel-content .project-content .card a button span{
    display:none;
  }
  
  #projects-container .carousel-content .project-content .card p{
  font-size:.9rem;
  width:90%;
}
#projects-container .carousel-content .project-content .card .title{
  font-size:1rem;
}


}

@keyframes revealMobile {
  0%{
      top: -100vh
  }
  100%{
      top: 1rem
  }
}
